body {
  background: #ccc;
  color: #222;
  font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  color: #222;
}

#lights {
  margin-top: 20px;
  min-height: 200px;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 100px;
}
select {
  font-family: monospace;
}
button {
  margin-left: 106px;
  border: 1px solid #888;
  padding: 5px 10px;
  margin-top: 5px;
}

